/* Medium desktop: 1920 x 1080 */

.navigationBar {
  background-color: #0f0f0f;
  display: flex;
  opacity: 0.95;
  align-items: center;
  justify-content: space-between;
  height: 7.5rem;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.logo {
  cursor: pointer;
}
.logo img {
  width: 10rem;
  margin: 2rem auto 2rem 3rem;
}

.navLinks a {
  margin-left: 3.5rem;
  text-decoration: none;
  color: fff;
  font-family: Montaga;
  font-weight: 300;
}

.activeStyle {
  border-bottom: 2.5px solid #f0a500;
  padding-bottom: 0.6rem;
  color: #f0a500;
  font-size: 1.8rem;
}

.inactiveStyle {
  border-bottom: 1px solid #fff;
  padding-bottom: 0.75rem;
  color: #fff;
  font-size: 1.4rem;
}

.navLinks a:last-child {
  margin-right: 3rem;
}
