::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.1rem;
}
::-webkit-scrollbar-track {
  background: #532e1c;
}
::-webkit-scrollbar-thumb {
  background: #a35c00;
  width: 0.25rem;
  height: 0.25rem;
}

/* Medium desktop: 1920 x 1080 */

.discoverPage {
  background-color: #eec373;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discoverTitle {
  position: fixed;
  margin-top: 10rem;
  width: 30rem;
  text-align: center;
}
.olTitle {
  width: 30rem;
  height: 0.25rem;
  top: 12rem;
  left: 5vw;
  background-color: rgb(83, 46, 28);
  opacity: 0.25;
}
.artistName {
  padding: 0.75rem 0;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1.25px;
  color: #532e1c;
}

.highlightsTitle {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 1.5rem 0;
}

.discoverList {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 40vh;
  margin-top: 22.5rem;
}
.discoverExplore {
  position: fixed;
  bottom: 7rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.discoverExplore a {
  text-decoration: none;
  color: #a35c00;
}

.discoverExplore a:hover {
  border-bottom: 2px solid #a35c00;
}

/* small laptop: 1440 x 768 */
@media only screen and (min-width: 1440px) and (max-width: 1900px) {
  .discoverList {
    width: 60vw;
    margin-top: 20rem;
  }
  .highlightsTitle {
    font-size: 1.25rem;
    letter-spacing: 1px;
  }
  .artistName {
    font-size: 2rem;
  }
  .discoverExplore {
    bottom: 5rem;
    font-size: 1.25rem;
  }
}

/* tabletscreen (landscape): 1024 x 768 */

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .artistName {
    font-size: 2rem;
  }

  .highlightsTitle {
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  .discoverList {
    height: 40vh;
    margin-top: 20rem;
  }
  .discoverExplore {
    bottom: 5rem;
    font-size: 1.25rem;
  }
}

/* Large screen: 2560 x 1440 */
@media only screen and (min-width: 2560px) and (max-width: 3500px) {
  .artistName {
    font-size: 2.75rem;
  }

  .highlightsTitle {
    font-size: 2rem;
    letter-spacing: 2px;
  }

  .discoverList {
    height: 40vh;
    margin-top: 25rem;
  }
  .discoverExplore {
    bottom: 15rem;
    font-size: 2rem;
  }
}
