/* Medium desktop: 1920 x 1080 */

.imageContainer img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.textBox {
  position: fixed;
  bottom: 0;
  background-color: #0f0f0f;
  opacity: 0.95;
  height: 15vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actualText {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actualText p {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: 200;
}
.actualText a {
  text-decoration: none;
  font-size: 2.75rem;
  letter-spacing: 1px;
  color: #f0a500;
}

.actualText a:hover {
  border-bottom: 3px solid #f0a500;
  padding-top: 3px;
}

.actualText :nth-child(3) {
  color: #f0a500;
  margin-left: 0.5rem;
  font-size: 3.5rem;
  font-weight: 700;
}

/* tabletscreen (landscape): 1024 x 768 */

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .actualText p {
    font-size: 2rem;
    letter-spacing: 0.5px;
  }
  .actualText a {
    letter-spacing: 0.5px;
    font-size: 2.25rem;
  }
}

/* Large screen: 2560 x 1440 */
@media only screen and (min-width: 2560px) and (max-width: 3500px) {
  .actualText p {
    font-size: 2.75rem;
    letter-spacing: 0.5px;
  }
  .actualText a {
    letter-spacing: 0.5px;
    font-size: 3rem;
  }
}
