/* Medium desktop: 1920 x 1080 */

.explorePage {
  background-color: #ca965c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.exploreTitle {
  position: fixed;
  margin-top: 12.5rem;
  margin-left: 7.5rem;
  width: 100%;
  font-size: 2rem;
  color: #532e1c;
}

.exploreList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  margin-top: 20rem;
  margin-left: 7.5rem;
  height: 52.5vh;
  width: 75%;
  /* border: 3px solid blue; */
  overflow-x: hidden;
}

.dummyIttem {
  height: 12.5rem;
  width: 10rem;
  border: 3px solid green;
  margin: 1.5rem 3.5rem;
}

/* small laptop: 1440 x 768 */

@media only screen and (min-width: 1440px) and (max-width: 1900px) {
  .exploreTitle {
    margin-top: 10rem;
  }
  .exploreList {
    margin-top: 16rem;
    /* border: 3px solid blue; */
  }
  .dummyIttem {
    margin: 1.5rem 2rem;
  }
}
